  .header{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 69px;
    border-bottom-color: rgb(252, 245, 245);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background-color: white;
    z-index: 100;
    overflow: hidden;
  }

  .mid-sec{
    display: flex;
    flex: 1;
    width: 0;
    align-items: center;
   margin-left: 40px;
  }

  .left-sec{
    display: flex;
    align-items: center;
    margin-right: 0;

  }

  .youtube-logo{
    height: 30px;
    margin-left: 17px;
  }

  .menu{
    height: 30px;
    margin-left: 20px;
  }
    
  .search-bar{
    height: 45px;
    font-size: 27px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    box-shadow: rgb(238, 238, 238) 0px 1px 2px 0px inset;
   flex: 1;
   width: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }

  .search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 27px;
  }

  .search-button{
    height: 50px;
    width: 70px;
    margin-left: -2.5px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-right: 14px;
    background-color: rgb(248, 248, 248);
    border-width: 1px;

  }
  .search-icon{
    height: 32px;
  }

  .search-button,
  .voice-button,
  .upload-con,
  .apps-con,
  .sub-container{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .search-button .tooltip,
  .voice-button .tooltip,
  .upload-con .tooltip,
  .apps-con .tooltip,
  .sub-container .tooltip{
    
    position: absolute;
    background-color: grey;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    bottom: -35px;
    font-family: Arial;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

  }

  .search-button:hover .tooltip,
  .voice-button:hover .tooltip,
  .upload-con:hover .tooltip,
  .apps-con:hover .tooltip,
  .sub-container:hover .tooltip{
    opacity: 1;
  }

  .voice-button{
    height: 55px;
    width: 55px;
    border-radius: 30px;
    border: none;
   
  }

  .voice-search{
    height: 33px;

  }

  .right-sec{
    width: 182px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 27px;
    margin-left: 35px;
    flex-shrink: 0;
  }

  @media (max-width: 600px) {
    .right-sec{
      /*adjust styles for smaller screens*/
    }
  }

  .upload-icon{
    height: 25px;
  }

  .apps{
    height: 25px;
  }

  .sub-icon{
    height: 25px;
  }

  .sub-container{
    position: relative;
  }

  .sub-count{
    position:absolute;
    top: -5px;
    right: -8px;
    background-color: rgb(151, 6, 6);
    color: white;
    font-size: 5px;
    font-family: Roboto, Arial;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
  }

  .pic-icon{
    height: 35px;
    border-radius: 20px;
  }

  