.first-image{
      width: 100%;
    }

    .thumbnails{
    position: relative;
    cursor: pointer;
    }

    

    .video-time{
      background-color: black;
      color: white;
      font-family: Roboto, Arial;
      font-size: 20px;
      font-weight: 700;
      position: absolute;
      bottom: 15px;
      right: 7px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 6px;
      padding-right: 6px;
      cursor: auto;
    
    }

    .video-title{
      font-size: 21px;
      font-weight: 500;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .video-views,
    .video-author{
      color: rgb(65, 63, 63);
      font-size: 15px;
      margin-top: 5px;

    }

    .video-author {
      cursor: pointer;
    }

    .profile-pic{
      width: 43px;
      border-radius: 22px;
      cursor: pointer;
    }

    .div-text{
      margin-left: 5px;
    }

    a:link{
      text-decoration: none;
      color: black;
    }

    a:visited{
      color: black;
    }

    .video-grid{
      display: grid;
      grid-template-columns: 50px 1fr;
      margin-top: 10px;
      
    }

      .main-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 35px;
        column-gap: 20px;

      }

    @media (min-width: 318px){
      .main-grid{
        grid-template-columns: 1fr;
      }
    }

    @media (min-width: 615px) and (max-width: 754px) {
      .main-grid{
        grid-template-columns: 1fr;
      }
    }

    @media (min-width: 1000px) {
      .main-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }


